{% extends "base.html" %} {% block title %}Nodes{% endblock %} {% block content
    %}
    </ul>
    <h1 align="center">Nodes</h1>
    {% for key, value in nodes_dict.items() %}
    <ul>
     
        {% for nodes in value %}
        
          {% for node, values in nodes.items() %}
          {% if node == "mac" %}
          <form method="post">
          <input type="submit" name="node" value="{{ node }} : {{ values }}">
          
          {% else %}
          {{ node }} : {{ values }}
          {% endif %}        
          <br>
          {% endfor %}
        </form>
          
        <br>
        {% endfor %}
      
    </ul>
    {% endfor %}
{% endblock %}